@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 5%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: hsl(0, 0%, 80%);
    font-family: "Bricolage Grotesque", sans-serif;
} button {
    background-color: hsl(0, 0%, 90%);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: "Bricolage Grotesque", sans-serif;
} main {
    width: 800px;
} h1 {
    font-size: 2rem;
    text-transform: uppercase;
}
#zdarzenia {
    display: flex;
    flex-direction: column;
} 
.zdarzenie:first-child{
    border-top: 0.5px solid white;
}
.zdarzenie {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid white;
    padding: 20px;
}
.nazwa {
    font-size: 1.5rem;
    font-weight: bold;
} .opis {
    font-style: italic;
} .data {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
} button.usun {
    background-color: transparent;
    color: hsl(0, 0%, 60%);
    cursor: pointer;
    margin-top: 5px;
}