@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 5%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: hsl(0, 0%, 80%);
    font-family: "Bricolage Grotesque", sans-serif;
} button {
    background-color: hsl(0, 0%, 90%);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: "Bricolage Grotesque", sans-serif;
} main {
    width: 800px;
} nav {
    width: 800px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} nav input {
    text-align: right;
}

h1 {
    font-size: 2rem;
    text-transform: uppercase;
} .done{text-decoration: line-through;}
#zdarzenia {
    display: flex;
    flex-direction: column;
} 
.zdarzenie:first-child{
    border-top: 0.5px solid white;
}
.zdarzenie {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid white;
    padding: 20px;
    cursor: pointer;
}
.nazwa {
    font-size: 1.5rem;
    font-weight: bold;
} .opis {
    font-style: italic;
    margin-bottom: 5px;
} .data {
    height: 100%;
    display: flex;
} button.usun {
    background-color: transparent;
    color: hsl(0, 0%, 60%);
    cursor: pointer;
    margin-top: 5px;
}
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: hsla(0, 0%, 5%, 0.918);
}
#error {
    padding: 10px;
    color: red;
    display: none;
    align-self: flex-end;
}
.modal {
    display: flex;
    justify-content: center;
}
.modal-content {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 5px;
} .modal-content button {
    padding: 8px;
    font-size: 20px;
}
input {
    font-family: "Bricolage Grotesque", sans-serif;
    box-sizing: border-box;
    padding: 8px;
    font-size: 20px;
    border: 1px solid rgb(70, 70, 70);
    background-color: transparent;
    color: white;
    border-radius: 5px;
    width: 100%;
}